{% extends 'basenavbar.html.twig' %}

{% block title %}Administration
{% endblock %}
{% block stylesheets %}


{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<nav class="position-fixed h-100 bg-light col-md-2">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item mt-1" id="devices">
							<a class="nav-link text-dark" href="{{path('device')}}">
								<span class="fas fa-satellite-dish mr-1"></span>Devices
							</a>
						</li>
						<li class="nav-item mt-1" id="devices">
							<a class="nav-link text-dark" href="#" onclick="view(1)">
								<span class="fas fa-signal mr-1"></span>Interfaces
							</a>
						</li>
						<li class="nav-item mt-1" id="devices">
							<a class="nav-link text-dark" href="#" onclick="view(2)">
								<span class="fas fa-bolt mr-1"></span>Types
							</a>
						</li>
						<li class="nav-item mt-1" id="devices">
							<a class="nav-link text-dark" href="{{path('device')}}">
								<span class="fas fa-table mr-1"></span>Records
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				{# Contenido #}
				<div class="container mt-5">
					<div class="row">
						<div class="col-md-5 card">
						<div class="card-body">
							<div>
							<button class="btn btn-info" onclick="findDevices()">
								<span class="fas fa-search mr-1"></span>Find devices</button>
							<div class="spinner-border d-none" role="status" id="spinner">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<form action="{{path('newDevice')}}" method="post" class="mt-2">
							<div class="form-group">
								<label for="deviceSelect">Select the device to register</label>
								<select class="form-control" id="deviceSelect" name="deviceSelect" required></select>
							</div>
							
							{# <div class="form-group">
								<label for="nameDevice">Name of the device</label>
								<input type="text" class="form-control" id="nameDevice" name="nameDevice" required>
							</div> #}
							<button type="submit" class="btn btn-success">Save</button>
						</form>
						</div>
					</div>
					<div class="col-md-5 ml-3 card">
						<div class="card-body">
						<h2 class="card-title">Registered devices</h2>
						<div class="spinner-border text-info" id="spinner2" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						<ul id="devicesList" class="list-group"></ul>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		function findDevices() {
			$('#spinner').toggleClass('d-none');
			let p = $.post("{{ path('findDevices') }}");
			$.when(p).done(function (data) {
				data.forEach(function (dv) {
					$('#deviceSelect').append(new Option(dv, dv));
				});
				$('#spinner').toggleClass('d-none');
			});
		}
		
		$(function(){
			myDevices();
		});
		function myDevices(){
			$.post("{{path('myDevices')}}").done(function(data){
				data.forEach(element => {
					$('#devicesList').append("<li class="+"list-group-item"+">"+ element.deviceId +"</li>");
				
					$('#spinner2').toggleClass('d-none');
				});
			});
				
		}
		function view(view){
			$.post("{{path('adminviews')}}",{'view': view})
				.done(function(data){
					$('#main').html(data);
				});
			switch (view) {
				case 1:
					let dev = $.post("{{path('myDevices')}}");
					let typ = $.post("{{path('getTypes')}}");
					let inter = $.post("{{path('getAllInterface')}}");
					$.when(dev,typ,inter).done((data1,data2,data3)=>{
						data1[0].forEach(function (dv) {
						$('#deviceSelect').append(new Option(dv.deviceId, dv.id))}
						);
						data2[0].forEach(element => {
							$('#typeSelect').append(new Option(element.name,element.id));
						});
						data3[0].forEach(element=>{
							$('#interdata').append("<tr><td>"+element.id+"</td><td>"+element.name+"</td><td>"+element.channel+"</td><td>"+element.device.deviceId+"</td><td>"+element.type.name+"</td></tr>")
						});
						$('#spinner').toggleClass('d-none');
					});
				break;
				case 2:
					let types = $.post("{{path('getTypes')}}");
					
					$.when(types).done(data1=>{
						data1[0].forEach(element => {
							$('#typesList').append("<li class="+"list-group-item"+">"+ element.name +"</li>");
						});
						
						$('#spinner').toggleClass('d-none');
					});
					
				break;
			
			}
		}
	</script>
{% endblock %}
